extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/orders.css")

block content
    main
        if orders.length <= 0
            h1 Nothing there!
        else
            ul.orders
                each order in orders
                    li.orders-item
                       
                        div.orders-header
                            h1.end Order No. # #{order._id} 
                            h1.end Order Date - #{formatShortDate(order.createdAt)}
                        ul.orders-products
                            each p in order.products
                                li.orders-product-item
                                    | #{p.title} (#{p.quantity}) 
                        h3.end Total Order Price: $#{order.totalPrice.toFixed(2)}
                        a(href=`/orders/${order._id}`, target="_blank") View Invoice
